form
  h1 Hello {{name}}
  input(ng-model="show" type="checkbox")
  button(type="button" ng-if="show") Hello Alice!!!
  //- div(ng-if="show") Hihi!
  //- button.btn(type="button" ng-click="sayHi()") click