.container(style="border: 2px solid")
  input(ng-model="callContainer.userName")
  button.btn(type="button" ng-click="callContainer.call({name: callContainer.userName})") Call {{callContainer.userName}}
